.button{
   -fx-background-color : #239c9c;
   -fx-background-radius : 30 0 0 30;
}
.logo{
    -fx-background-color : #07f7f7;
    -fx-background-radius : 30 30 30 30;
}
/*Proximo Projeto deixar bonito*/
